<div class='container mt-5'>
    <h2 class="mb-5">Create A Flat</h2>
    <%= simple_form_for flat do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :description, as: :text %>
        <%= f.input :rating %>
        <%= f.submit class: 'btn btn-primary' %>
    <% end %>
</div>
