<div class="flat-index-header">
  <h2>All of our flats (<%= @flats.count %>)</h2>
</div>
<div class="container mt-5 mb-5">
  <div class="flat-index-row">
    <% if @search %>
      <% @search.each do |flat| %>
        <div class="card" style="width: 18rem;">
          <% if flat.photo.attached? %>
            <%= cl_image_tag flat.photo.key %>
            <% else %>
            <img src="https://source.unsplash.com/600x400/?condo" class="card-img-top" alt="...">
          <% end %>
          
          <div class="card-body">
              <h5 class="card-title"><%= flat.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= flat.address %></h6>
              <p class="card-text"><%= flat.description %></p>
              <%= link_to 'More info', flat_path(flat), class: 'btn btn-primary' %>
              <% if user_signed_in? %>
                <% if policy(flat).edit? || policy(flat).destroy? %>
                  <%= link_to 'Edit', edit_flat_path(flat), class: "btn btn-warning" %>
                  <%= link_to 'Delete', flat_path(flat), method: :delete, data: {message: "are you sure you want to delete this item ? "}, class: 'btn btn-danger' %>
                <% end %>
              <% end %>
            </div>
          </div>
      <% end %>
    <% else %>
      <% @flats.each do |flat| %>
        <div class="card" style="width: 18rem;">
          <% if flat.photo.attached? %>
            <%= cl_image_tag flat.photo.key %>
            <% else %>
            <img src="https://source.unsplash.com/600x400/?condo" class="card-img-top" alt="...">
          <% end %>
          
          <div class="card-body">
              <h5 class="card-title"><%= flat.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= flat.address %></h6>
              <p class="card-text"><%= flat.description %></p>
              <%= link_to 'More info', flat_path(flat), class: 'btn btn-primary' %>
              <% if user_signed_in? %>
                <% if policy(flat).edit? || policy(flat).destroy? %>
                  <%= link_to 'Edit', edit_flat_path(flat), class: "btn btn-warning" %>
                  <%= link_to 'Delete', flat_path(flat), method: :delete, data: {message: "are you sure you want to delete this item ? "}, class: 'btn btn-danger' %>
                <% end %>
              <% end %>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
